@media print {
  
    html, body {
        margin: 0 !important;
        padding: 0 !important;
        background: white !important;
    }


    #banner-print {
        display: block !important;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        
        width: 80% !important;
        border: 1px dotted black !important;
        text-align: center;
        padding: 10px;
        background: white !important;
        z-index: 1000;
    }

    
    img, video, iframe, embed, object, 
    figure, figcaption, .imag-produs, 
    #link-top, .burger, #ch-menu, #hamburger,
    .galerie-a, #sectiune-galerie-animata,
    .container-iframe, .taburi-iframe {
        display: none !important;
    }

    
    #grid-pagina, main {
        display: block !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;
    }

   
    a {
        color: black !important;
        text-decoration: none !important;
    }

    
    header#header {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 95vh; 
        width: 100%;
        page-break-after: always;
        background: white !important;
        position: relative;
    }

    header#header h1 {
        font-size: 2.5rem !important; 
        text-decoration: underline !important;
        text-align: center;
        margin: 0;
    }

    /* Meniul va fi ascuns */
    nav, .meniu {
        display: none !important;
    }

    
    footer, #footer {
        page-break-before: always;
        display: block !important;
        width: 100% !important;
    }

    .watermark {
        display: flex !important;
        position: fixed;
        bottom: 1cm;
        right: 1cm;
        width: 100px !important;
        height: 2cm !important;
        border: 2px double black !important;
        opacity: 0.65 !important;
        z-index: 10000;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: white !important;
        pointer-events: none;
    }

    
    @page {
        size: A4;
        margin: 0;
    }

    @page :left {
        margin-left: 2.5cm;
        margin-right: 0.5cm;
        margin-top: 1.5cm;
        margin-bottom: 1.5cm;
    }

    @page :right {
        margin-left: 0.5cm;
        margin-right: 2.5cm;
        margin-top: 1.5cm;
        margin-bottom: 1.5cm;
    }
}
