    <header id="header">
        <div id="banner-print">Candy Kingdom - Cele mai bune dulciuri din oraș!</div>
        <h1 class="noto-regular">Magazin de dulciuri <i class="fa-solid fa-candy-cane fa-bounce"></i></h1>
        <nav>
            <label for="ch-menu" id="hamburger">
                <i class="fa-solid fa-bars"></i>
            </label>
            <input type="checkbox" id="ch-menu" />
            <ul class="meniu">
                <li>
                    <a href="/index"><i class="fa-solid fa-house"></i> Acasă</a>
                    <ul> 
                        <li><a href="/index#welcome">Bine ati venit</a></li>
                        <li><a href="/index#oferte">Oferte</a></li>
                        <li><a href="/index#orar">Orar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/index#produse"><i class="fa-solid fa-candy-cane"></i> Produse</a>
                    <ul>
                        <li><a href="/index#prod-ciocolata">Ciocolată</a></li>
                        <li><a href="/index#prod-jeleuri">Jeleuri</a></li>
                        <li><a href="/index#prod-acadele">Acadele</a></li>
                    </ul>
                </li>
                <li><a href="/index#anunturi"><i class="fa-solid fa-bullhorn"></i> Anunturi</a></li>
                <li><a href="/index#faq"><i class="fa-solid fa-question"></i> FAQ </a></li>
                <li><a href="/index#contact"><i class="fa-solid fa-envelope"></i> Contact</a></li>
            </ul>
        </nav> 
    </header>
    <div class="watermark">Dumitru Andrei Dragos</div>