    <header id="header">
        <h1 class="noto-regular">Magazin de dulciuri <i class="fa-solid fa-candy-cane fa-bounce"></i></h1>
        <nav>
            <ul class="meniu">
                <li>Acasa <i class="fa-solid fa-house"></i>
                    <ul> 
                        <li><a href="#welcome">Bine ati venit</a></li>
                    </ul>
                </li>
                <li><a href="#oferte">Oferte</a></li>
                <li><a href="#produse">Produse</a>
                    <ul>
                        <li><a href="#prod-ciocolata">Ciocolată</a></li>
                        <li><a href="#prod-jeleuri">Jeleuri</a></li>
                        <li><a href="#prod-acadele">Acadele</a></li>
                    </ul>
                </li>
                <li><a href="#anunturi">Anunturi</a></li>
                <li><a href="#faq">FAQ </a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#inregistrare">Inregistrare</a></li>
            </ul>
        </nav> 
    </header>